extends base

block footer

block content
  .map-container
    #map.map
    .meta
      h2.name #{trail.displayName()} 
        small #{trail.status} - 
          span(title='#{trail.status_date}') #{trail.statusDateFromNow()}
  script.
    mtb.trail = !{JSON.stringify(trail.asGeoJSON())};